{% extends "news/layout.html" %}

{% block body %}

<div>
    <h1 class="title-page">Курси валют</h1>
    <div class="currency-container">

        <div class="currency-g">
        <iframe class="currency" src="https://sslcharts.investing.com/index.php?force_lang=1&pair_ID=2208&timescale=86400&candles=100&style=line"></iframe>
            <br /><div><a target="_blank" href="https://www.investing.com"><img src="https://wmt-invdn-com.investing.com/forexpros_en_logo.png" alt="Investing.com" title="Investing.com" style="float:center" border="0"/></a>
                <span style="float:right"><span style="font-size: 11px;color: #333333;text-decoration: none;"></span></span></div>
        <br>
        </div>

        <div class="currency-g">
        <iframe class="currency" src="https://sslcharts.investing.com/index.php?force_lang=1&pair_ID=1709&timescale=86400&candles=100&style=line"></iframe>
            <br /><div><a target="_blank" href="https://www.investing.com"><img src="https://wmt-invdn-com.investing.com/forexpros_en_logo.png" alt="Investing.com" title="Investing.com" style="float:center" border="0"/></a>
                <span style="float:right"><span style="font-size: 11px;color: #333333;text-decoration: none;"></span></span></div>
        <br>
        </div>

        <div class="currency-g">
        <iframe class="currency" src="https://sslcharts.investing.com/index.php?force_lang=1&pair_ID=1065449&timescale=86400&candles=100&style=line"></iframe>
            <br /><div><a target="_blank" href="https://www.investing.com"><img src="https://wmt-invdn-com.investing.com/forexpros_en_logo.png" alt="Investing.com" title="Investing.com" style="float:center" border="0"/></a>
                <span style="float:right"><span style="font-size: 11px;color: #333333;text-decoration: none;"></span></span></div>
        </div>

    </div>
</div>

{% endblock %}