{% extends "news/layout.html" %}

{% block body %}
<h1 class="title-page">Новини за {{ date }}</h1>
<table>
    {% for news in all_news %}
    <tr>
        <td class="table_date"><a href="{%url 'date' news.add_date.date %}">{{ news.add_date.date}}</a></td>
        <td class="table_site">{{ news.news_site }}</td>
        <td>
            {% if user.is_authenticated %} 
            <a href="{% url 'save' news.news_id %}">[SAVE]</a>
            {% endif %}
        </td>
        <td class="link-title"><a href="{{ news.news_url }}" target="_blank">{{ news.news_title }}</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}