h1 {
    color: purple;
}

html {
    font-family: 'Helvetica', cursive;
}

body {
    margin:0px;
    height: 100%;
}

#cont_title {
    min-height: 6vh;
    height: auto;
    border-bottom: solid black;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.top {
    background-color: black;
}

body {
    background-color: rgb(207, 206, 206);
}

.bottom-s {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    padding: 10px;
    padding-left: 25px;
    height: auto;
    min-height: 88vh;
}

.btn {
    width: 200px;
    height: 30px;
}

.link {
    margin-right: 30px;
    font-size: 18px;
}

.link2 {    
    color: white;
    text-decoration: none;
}

.link2:hover {    
    color: purple;
}

.logged_name {
    color: white;
    text-align: right;
}

.more_news {
    text-align: center;
    font-size: 25px;
}


.active_number_page {
    font-size:18px;
}

.paginator {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.paginator>li {
    color: grey;
    margin-right: 3px;
    font-size:16px;
}
.paginator>li>a {
    color: grey;
}

.table_date {
    margin-right: 3px;
    width: 130px;
    font-size: 14px;
}

.table_site {
    width: 165px;
}


.button-log-reg {
    border-radius: 8px;
    height: 28px;
    width: 200px;
    color: black;
}

.button-log-reg:hover {
    border-radius: 8px;
    height: 28px;
    width: 200px;
    color: white;
    background-color: purple;
    border: 0px;
}

.button-search {
    border-radius: 8px;
    height: 25px;
    width: 100px;
    color: black;
}

.button-search:hover {
    border-radius: 8px;
    height: 25px;
    width: 100px;
    color: white;
    background-color: purple;
    border: 0px;
}

.error-message {
    text-align: center;
    font-size: 20px;
    color: red;
}

.searchform {
    width: 280px;
    height: 16px;
    border-radius: 8px;
    padding: 3px;
}

.log-reg {
    padding-top: 80px;
    text-align: center;
}

.field-log-reg  {
    width: 350px;
    margin-bottom: 5px;
    height: 18px;
    border-radius: 8px;
    padding: 3px;
}

.field-link  {
    width: 700px;
    margin-bottom: 5px;
    height: 18px;
    border-radius: 8px;
    padding: 3px;
}


.title-page {
    text-align: center;
}


.edit-link-label {
    font-weight: bold;
}

.currency-container {
    text-align: center;
}

.currency-g {
    text-align: center;
}

.currency {
    min-height: 50vh;
    min-width: 110vh;
    max-width: 130vh;
}


.link-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
